/* banner */
.banner {
    background: linear-gradient(135deg, #AADDEE 0%, #66AABB 100%);
    height: 320px;
    width: 100%;
    margin-top: 50px;
    align-items: center;
}

#banner-text {
    height: 150px;
    padding: 0 15px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
}

#banner-title {
    font-size: 28px;
    font-family: 'Noto Sans';
    font-weight: bold;
    line-height: 46px;
}


#search-block {
    display: flex;
}

#spot-name-search {
    width: 400px;
    height: 46px;
    border-radius: 5px 0 0 5px;
    border: transparent solid 1px;
}

#search-icon {
    width: 60px;
    height: 46px;
    border: #448899 solid 2px;
    background-color: #448899;
    border-radius: 0 5px 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #448899 solid 2px;
    cursor: pointer;
}

#search-icon:hover {
    border: #448899 solid 2px;
    background-color: #366e7c;
}

#welcome {
    position: absolute;
    right: -100px;
}

/* end banner */
/* content */
#content {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin: 50px auto;
}

.card {
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.img {
    height: 70%;
    width: 100%;
}



.img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0;
}

@keyframes white-cover {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.7;
    }
}

.img img:hover {
    opacity: 0.7;
    animation: white-cover 0.3s;
}


.card-info {
    width: 95%;
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

}

.card-name {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50%;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #757575;
}

.mrt {
    height: 50%;
    width: 50%;
    color: #757575;
    display: flex;
    align-items: center;
}

.category {
    height: 50%;
    width: 50%;
    color: #757575;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* end content */



@media (min-width:1200px) {
    .card {
        width: 270px;
        height: 250px;
        margin: 10px;
    }
}

@media (max-width:1425px) {
    #welcome {
        right: 0;
    }
}

@media (max-width:1200px) {

    .width {
        width: 100%;
    }

    .card {
        width: 23%;
        height: 200px;
        margin: 10px;
    }
}

/* m size */
@media (max-width:960px) {
    #welcome {
        height: 80%;
        bottom: 0;
    }

    .card {
        width: 40%;
        margin-bottom: 20px;
        height: 250px;
    }
}

/* s size */
@media(max-width:600px) {

    #welcome {
        display: none;
    }

    #banner-img {
        background-image: url(/static/img/welcome\ 1.png);
        background-repeat: no-repeat;
        background-position: bottom right -80px;
        background-size: 90%;
        height: 100%;
        width: 100%;
        display: block;
    }

    #banner-text {
        margin: 82px 0;
    }

    #spot-name-search {
        width: 230px;
        height: 46px;
    }

    .card {
        width: 100%;
        height: 350px;
    }
}

#to-top {
    width: 50px;
    height: 50px;
    background-color: #66aabb;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    box-shadow: 1px 1px 2px #448899;
}

#to-top:hover {
    background-color: #448899;
}

#arrow {
    width: 13px;
    height: 13px;
    border: #ffffff 5px solid;
    border-right: transparent;
    border-bottom: transparent;
    transform: rotate(45deg);
    position: absolute;
    left: 17px;
    top: 19px;
}