{% extends 'nav-footer.html' %}
{% block custom_css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/booking.css')}}">
{% endblock %}
{% block content %}
<div class="container">
    <div class="content">
        <h3>您好，<span id="username"></span>，待預定的行程如下：</h3>
        <br>
        <div id="tour">
            <img id="spot-img" src="" alt="">
            <div id="tour-info" class="bold">
                <p>台北一日遊：<span id="name"></span></p>
                <p>日期：<span id="date"></span></p>
                <p>時間：<span id="time"></span></p>
                <p>費用：新台幣<span class="amount"></span>元</p>
                <p>地點：<span id="address"></span></p>
            </div>
            <img id="delete" src="/static/img/icon_delete.png" alt="">
        </div>
    </div>
</div>
<div class="container">
    <div class="content">
        <h3 class="line-height">您的聯絡資訊</h3>
        <p class="line-height">聯絡姓名：<input type="text" id="contact-name"></p>
        <p class="line-height">聯絡信箱：<input type="email" id="email"></p>
        <p class="line-height">手機號碼：<input type="text" id="phone"></p>
        <p class="bold line-height">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</p>
    </div>
</div>
<div class="container">
    <div class="content">
        <h3 class="line-height">信用卡付款資訊</h3>
        <div class="credit-card">
            <p class="line-height">卡片號碼：</p>
            <div class="card-input" id="card-number"></div>
        </div>
        <div class="credit-card">
            <p class="line-height">過期時間：</p>
            <div class="card-input" id="card-expiration-date"></div>
        </div>
        <div class="credit-card">
            <p class="line-height">驗證密碼：</p>
            <div class="card-input" id="card-ccv"></div>
        </div>

    </div>
</div>
<div class="container">
    <div class="content">
        <p class="line-height bold">總價：新台幣<span class="amount"></span>元</p>
        <button id=btn type="submit">確認訂購並付款</button>
    </div>
</div>
{% endblock %}
{% block js%}
<script src="{{url_for('static',filename='js/booking.js')}}"></script>
<script src="https://js.tappaysdk.com/tpdirect/v5.7.0"></script>
<script src="{{url_for('static',filename='js/cashflow.js')}}"></script>
{% endblock %}