{% extends 'nav-footer.html'%}
{% block custom_css%}
<link rel="stylesheet" href="../static/index.css">{% endblock %}

{% block content%}
<div class="container banner">
    <div class="width" id="banner-img">
        <img id="welcome" src="../static/img/welcome 1.png" alt="">
        <div id="banner-text">
            <p id="banner-title">輕鬆享受台北一日悠閒</p>
            <p id="banner-slogan">探索每個角落，體驗城市的深度旅遊行程</p>
            <div id="search-block">
                <input type="text" name="spot-name-search" id="spot-name-search" placeholder="輸入景點名稱查詢">
                <div id="search-icon">
                    <input type="image" src="../static/img/icon_search.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<a href=""></a>
<div class="container">
    <div class="width" id="content">
        <!-- <div class="card">
            <div class="img">
                <img src="https://picsum.photos/id/866/1000/600" alt="">
            </div>
            <div class="card-info">
                <div class="card-name">名稱</div>
                <div class="mrt">捷運</div>
                <div class="category">類型</div>
            </div>
        </di<br>v> -->
    </div>
</div>
<a href="#when-login">
    <div id="to-top">
        <div id="arrow"></div>
    </div>
</a>
<script src="../static/index.js"></script>

{% endblock %}