{% extends 'nav-footer.html'%}
{% block custom_css%}
<link rel="stylesheet" href="{{url_for('static',filename='css/thankyou.css')}}">
{% endblock %}
{% block content %}
<div class="container">
    <div class="width content">
        <p>付款完成，感謝您的訂購，訂單號碼如下：</p>
        <p id="order-number"></p>
        <p>相關資訊可於訂購紀錄中查詢</p>
        <a id="home" href="/">返回首頁</a>
    </div>
</div>
<script>
    const orderNumber = document.querySelector('#order-number');
    const queryString = new URLSearchParams(window.location.search);
    orderNumber.textContent = queryString.get('number');
</script>
{% endblock %}